

parameters:
  num_classes: &num_classes 47
  input_dim: &input_dim 100


seed: 42
group_id: null
n_runs: 1

data_parameters:
  dataset_type: ogbn-products
  # transforms: 
  #   - "normalize_features"
  add_self_loops_and_remove_duplicate_edges: false
  remove_duplicate_edges: false
  train_data_loader_parameters:
    data_loader_type: optimized_random_node_loader
    num_parts: 20
    pin_memory: false
    on_device: true
  val_data_loader_parameters:
    data_loader_type: optimized_random_node_loader
    num_parts: 10
    pin_memory: false
    on_device: true
  test_data_loader_parameters:
    data_loader_type: optimized_random_node_loader
    num_parts: 10
    pin_memory: false
    on_device: true

model_parameters:
  task_type: node_classification
  architecture_parameters:
      architecture_type: polynormer
      input_dim: *input_dim
      hidden_dim: 512
      output_dim: *num_classes
      local_layers: 5
      global_layers: 2
      in_dropout: 0.1
      local_dropout: 0.3
      global_dropout: 0.5
      num_heads: 4
      beta: 0.5
      pre_norm: false
      qk_shared: true
      
  loss:
      loss_type: cross_entropy
      parameters:
        reduction: none

  metrics:
    - metric_type: optimized_accuracy
      display_name: accuracy
    - metric_type: optimized_f1
      display_name: f1
    - metric_type: optimized_precision
      display_name: precision
    - metric_type: optimized_recall
      display_name: recall

  optimizer:
    optimizer_type: adam
    parameters:
      lr: 0.001
      weight_decay: 0

callbacks: 
    - callback_type: early_stopping
      parameters:
        monitor: val/loss
        patience: 30
        mode: min
    - callback_type: model_checkpoint
      parameters:
        monitor: val/loss
        mode: min
        save_top_k: 1
        filename: best

wandb_logger_parameters:
  entity: clement_wang
  project: gnn_experiments
  reinit: true

compilation_parameters:
  use_compiled_torch: false
  full_graph: false

trainer_config:
  max_epochs: 500
  log_every_n_steps: 1
  # precision: bf16-mixed
  # profiler: simple

