

parameters:
  num_classes: &num_classes 7
  input_dim: &input_dim 1433


seed: 42
group_id: null
n_runs: 1

data_parameters:
  dataset_type: cora
  # transforms: 
  #   - "normalize_features"
  add_self_loops_and_remove_duplicate_edges: false
  remove_duplicate_edges: false
  train_data_loader_parameters:
    data_loader_type: neighbor_loader
    batch_size: 256
    num_neighbors: [25, 10]
    num_workers: 0
    shuffle: true
    pin_memory: false
    persistent_workers: false
  val_data_loader_parameters:
    data_loader_type: neighbor_loader
    batch_size: 256
    num_neighbors: [25, 10]
    num_workers: 0
    shuffle: true
    pin_memory: false
    persistent_workers: false
  test_data_loader_parameters:
    data_loader_type: neighbor_loader
    batch_size: 256
    num_neighbors: [25, 10]
    num_workers: 0
    shuffle: true
    pin_memory: false
    persistent_workers: false

model_parameters:
  task_type: node_classification
  architecture_parameters:
      architecture_type: sage
      input_dim: *input_dim
      hidden_dim: 1024
      output_dim: *num_classes
      num_layers: 4
      dropout: 0.5
      use_input_projection: true
      use_output_projection: false
      use_residual: false
      use_layer_norm: true
  loss:
      loss_type: cross_entropy
      parameters:
        reduction: none
  metrics:
    - metric_type: optimized_accuracy
      display_name: accuracy
    - metric_type: optimized_f1
      display_name: f1
    - metric_type: optimized_precision
      display_name: precision
    - metric_type: optimized_recall
      display_name: recall
  optimizer:
    optimizer_type: adam
    parameters:
      lr: 0.001
      weight_decay: 0.001

callbacks: 
    # - callback_type: early_stopping
    #   parameters:
    #     monitor: val/loss
    #     patience: 10
    #     mode: "min"
    - callback_type: model_checkpoint
      parameters:
        monitor: val/accuracy
        mode: max
        save_top_k: 1
        filename: best

wandb_logger_parameters:
  entity: clement_wang
  project: gnn_experiments
  reinit: true

trainer_config:
  max_epochs: 100
  log_every_n_steps: 1

